<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{REQUEST_URI} !^/public/
  RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

# https://stackoverflow.com/questions/28364496/laravel-5-remove-public-from-url
# https://stackoverflow.com/questions/40756665/how-to-make-public-folder-as-root-in-laravel
