php_value max_input_time 0
php_value max_execution_time 0
php_value post_max_size 0
php_value memory_limit -1
php_value upload_max_filesize 20G
php_value max_file_uploads 20
php_value default_socket_timeout -1
php_value upload_tmp_dir "C:\xampp\tmp"
php_flag file_uploads on
php_flag exit_on_timeout false
# the following config options is deprecated
# php_flag allow_url_include on

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{REQUEST_URI} !^/public/
  RewriteRule ^(private/info\.php)($|/) - [L,PT]
  RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
