# disable indexing (403)
Options -Indexes

# Deny access to .htaccess
<Files .htaccess>
    Order allow,deny
    Deny from all
</Files>

# Allow access to /info.php only from root user
<Files info.php>
    Order allow,deny
    Allow from 127.0.0.1
</Files>
