# Deny access to .htaccess
<Files .htaccess>
    Order allow,deny
    Deny from all
</Files>

# deny access to rom files
<FilesMatch "\.(gb|gbc|gba|nds|3ds|xci|url)$">
    Order allow,deny
    Deny from all
</FilesMatch>
